/* You can add global styles to this file, and also import other style files */

html {
    min-width: 100%;
}

body {
    background-image: url('./assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}