<div id="header">
    <h1>Opis projekta</h1>
    <a class="btn" [attr.href]="pdfUrl">Download</a>
</div>

<p>
    <b>Tema projekta:</b> Chat bot na našem jeziku.
</p>

<p>
    Bot nije specijalizovan za konkretnu namjenu, već podržava opšte razgovore.
</p>

<h2>
    Stek tehnologija koje smo koristili:
</h2>

<ul>
    <li>Rasa X framework za pravljenje chat botova</li>
    <li>MySQL</li>
    <li>Flask</li>
    <li>Angular</li>
</ul>

<h2>
    E/R dijagram baze podataka:
</h2>

<img src="../../assets/images/ER_final.png">