<div id="container">
    <div id="header">
        <h1>Opis projekta</h1>
        <a class="btn" [attr.href]="pdfUrl">Download</a>
    </div>
    
    <p>
        <b>Tema projekta:</b> Chat bot na našem jeziku.
    </p>
    
    <p>
        Aplikacija zapravo daje mogućnost da se bira chatbot iz date liste.
        Mi smo do sad implementirali samo jednog bota, koji priča na našem jeziku.
        Bot nije specijalizovan za konkretnu namjenu, već podržava opšte razgovore.
    </p>
    
    <h2>
        Stek tehnologija koje smo koristili:
    </h2>
    
    <ul>
        <li>Rasa X framework za pravljenje chat botova</li>
        <li>MySQL baza podataka</li>
        <li>Flask Web framework za back-end</li>
        <li>Angular front-end framework</li>
    </ul>
    
    <h2>
        E/R dijagram baze podataka:
    </h2>
    
    <img src="../../assets/images/ER_final.png">
</div>