h2 {
    text-align: center;
    margin: 1rem;
}

.details-header {
    font-size: 1.5rem;
    text-align: center;
}

.messages {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: "Comic Sans MS";
    background-color: #f6f6f6;
    max-height: 60vh;
    overflow-y: scroll;
    margin: 0 3rem;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

.message {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 40%;
    word-wrap: break-word;
}

.message p {
    margin: 0;
}

.left {
    float: left;
    background-color: #71b9e2;
    text-align: left;
}

.right {
    float: right;
    background-color: #FF6766;
    text-align: right;
}

.content {
    font-size: 1.2rem;
}

.time {
    font-size: 0.8rem;
}