


<div id="div-main">
    <nav>

        <div class="btn btn-one" routerLink="/"><span>HOME</span></div>
        <!-- Show tabs based on the loggedIn variable -->
        
        <div *ngIf="!loggedIn" class="btn btn-one" routerLink="/login"><span>LOGIN</span></div>
        <div *ngIf="!loggedIn" class="btn btn-one"><span>REGISTER</span></div>

        <div *ngIf="loggedIn" class="btn btn-one"><span>PROFILE</span></div>

        <div *ngIf="admin" class="btn btn-one"><span>ADMINISTRATION</span></div>


    
    
    </nav>

    <router-outlet></router-outlet>
</div>








