


<div id="div-main">
    <nav>

        <div class="btn btn-one" routerLink="/"><span>HOME</span></div>
        
        <div class="btn btn-one" (click)="gotoBots()"><span>BOTS</span></div>
        <span id="notification"></span>

        <div *ngIf="currentUser" class="btn btn-one" routerLink="/chat_search"><span>MY CHATS</span></div>

        <div *ngIf="currentUser" class="btn btn-one" routerLink="/profile"><span>MY PROFILE</span></div>

        <div *ngIf="currentUser && currentUser.admin" class="btn btn-one" routerLink="/administration"><span>ADMINISTRATION</span></div>

        <div *ngIf="!currentUser" class="btn btn-one" routerLink="/login"><span>LOGIN</span></div>
        
        <!-- <div *ngIf="!currentUser" class="btn btn-one"><span>REGISTER</span></div> -->

        <div *ngIf="currentUser" class="btn btn-one" (click)="logout()"><span>LOGOUT</span></div>
    
        <label for="toggle-notifications">Notifications</label>
        <input type="checkbox" id="toggle-notifications" (change)="toggleNotifications($event)" checked>
    </nav>

    <router-outlet></router-outlet>
</div>








