* {
    font-family: "Comic Sans MS";
    font-size: 1.4rem;
}

.login {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-body {
    padding: 3rem;
    border-radius: 3rem;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.3);
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
}

input[type="text"] {
    width: 40vw;
}
input[type="password"] {
    width: 40vw;
}

.invalid {
    color: red;
}

button {
    border-radius: 0.4rem;
}
button:hover {
    background-color: #FF6766;
}

a {
    float: right;
    text-decoration: none;
    color: #6179ff;
}

a:hover {
    color: #FF6766;
}