<div id="container">
   <div id="header">
      <button *ngIf="user" id="btn-save-chat" (click)="saveChat()">Save Chat</button>
      <button *ngIf="!user" style="visibility: hidden;"></button>
      <button id="btn-close" (click)="closeWindow()">X</button>
   </div>
   <div id="messages">
      <div *ngFor="let msg of currChat.messages" style="clear:both; overflow:auto;">
         <div [ngClass]="{'message': true, 'right': msg.part_id === userId, 'left': msg.part_id !== userId}">
            <img class="avatar" [src]="msg.part_id === userId ? userAvi : bot.avatarSrc" (error)="onAvatarError($event)">
            <img class="meme" *ngIf="isImage(msg.content)" [src]="msg.content">
            <a *ngIf="isVideo(msg.content)" [href]="msg.content">{{msg.content}}</a>
            <p *ngIf="!isImage(msg.content) && !isVideo(msg.content)" class="content">{{msg.content}}</p>
            <p class="time">{{msg.msg_time}}</p>
         </div>
      </div>
   </div>
   <input type="text" id="keypad" (keypress)="onUserInput($event)" placeholder="Type a message..." autocomplete="off">
</div>

<div id="launch" class="btn btn-launch" (click)="openWindow()"> LAUNCH </div>