#container {
	display: none;
	width: 66vw;
	padding-top: 2rem;
	margin: auto;
}

#header {
	background-color: darkgray;
	font-family: "Comic Sans MS";
	padding: 1rem;
	border-radius: 1rem 1rem 0 0;
	border: 1px solid black;
}

#header > button {
	font-size: 1.4rem;
	border-radius: 0.4rem;
}
#header > button:hover {
	background-color: #FF6766;
}

#header > a {
	float: right;
	font-size: 1.4rem;
	text-decoration: none;
	color: white;
}
#header > a:hover {
	color: #FF6766;
}

#messages {
	height: 60vh;
	border: 1px solid black;
    padding: 0.5rem;
    font-family: "Comic Sans MS";
    background-color: rgba(255,255,255,0.3);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

.message {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 40%;
    word-wrap: break-word;
}

img.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid black;
}

.message p {
    margin: 0;
}

.left {
    float: left;
	background-color: #71b9e2;
	text-align: left;
}

.right {
    float: right;
	background-color: #FF6766;
	text-align: right;
}

.content {
    font-size: 1.2rem;
}

.time {
    font-size: 0.8rem;
}

#keypad {
	font-family: "Comic Sans MS";
	font-size: 1.4rem;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5rem;
}



.btn {
    margin-left: 20px;
	line-height: 100px;
	height: 100px;
	text-align: center;
	width: 250px;
	cursor: pointer;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2px;
}
.btn:hover {
	letter-spacing: 5px;
	color: black;
	font-weight: bold;
}
.btn-launch {
	color: grey;
	transition: all 0.5s;
	position: absolute;	
	left: 42.5%;
	top: 40%;
}
.btn-launch span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.btn-launch::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(156, 17, 17, 0.2);
	background-color: rgba(150, 26, 26, 0.6);
}
.btn-launch::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-launch:hover::before {
  	transform: rotate(-45deg);
  	background-color: rgba(148, 28, 28, 0.5);
}
.btn-launch:hover::after {
  	transform: rotate(45deg);
  	background-color: rgba(199, 37, 37, 0.5);
}
